basePath: /api/v1
definitions:
  auth.authRequest:
    properties:
      password:
        type: string
      phoneNumber:
        type: string
    type: object
  auth.registerRequest:
    properties:
      password:
        type: string
      phoneNumber:
        type: string
      roles:
        items:
          type: string
        type: array
    type: object
  domain.Role:
    properties:
      id:
        type: integer
      name:
        type: string
      users:
        items:
          $ref: '#/definitions/domain.User'
        type: array
    type: object
  domain.User:
    properties:
      fullName:
        type: string
      id:
        type: integer
      password:
        type: string
      phoneNumber:
        type: string
      roles:
        items:
          $ref: '#/definitions/domain.Role'
        type: array
    type: object
host: localhost:8080
info:
  contact: {}
  description: Description
  title: Voice-app API
  version: "1.0"
paths:
  /login:
    post:
      consumes:
      - application/json
      description: Login and receive JWT token
      parameters:
      - description: Login data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth.authRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/domain.User'
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Login user
      tags:
      - auth
  /register:
    post:
      consumes:
      - application/json
      description: Register a new user with phone, password and roles
      parameters:
      - description: User data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth.registerRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/domain.User'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Register new user
      tags:
      - auth
swagger: "2.0"
